---
import BaseLayout from '../layouts/BaseLayout.astro';
import Daily from '../components/Containers/Daily.astro';

---
<BaseLayout>
	<!-- <Navigation/> -->
	<!-- <h2>My awesome blog subtitle</h2> -->
	<Daily />
</BaseLayout>