---
import BaseLayout from '../layouts/BaseLayout.astro';
import Index from "../components/Containers/Index.astro"

---
<BaseLayout>
	<!-- <Navigation/> -->
	<!-- <h2>My awesome blog subtitle</h2> -->
	<Index />
</BaseLayout>