---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from "../components/Navigation.astro";
const pageTitle = "博客";
---
<BaseLayout pageTitle={pageTitle}>
	<!-- <Navigation/> -->
	<!-- <h2>My awesome blog subtitle</h2> -->
</BaseLayout>