---
import BaseLayout from '../layouts/BaseLayout.astro';
import Tech from "../components/Containers/Tech.astro"

---
<BaseLayout>
	<!-- <Navigation/> -->
	<!-- <h2>My awesome blog subtitle</h2> -->
	<Tech />
</BaseLayout>