---
// const platform = "github";
// const username = "withastro";
---

<footer class="bg-gray-800 bg-opacity-80 text-gray-400 p-6 text-center">
    <p class="mb-4">&copy; 2025 TechBit. All rights reserved. 如需转载，请注明出处。</p>
    <div class="flex flex-col items-center space-y-2">
        <p>欢迎关注我的技术分享！</p>
        <div class="flex space-x-4">
            <a href="#" class="social-link text-blue-200 hover:text-blue-400">微信公众号：微光存影</a>
            <a href="https://juejin.cn/user/1961184476010167" class="social-link text-blue-200 hover:text-blue-400">掘金号：大Ear图图</a>
        </div>
    </div>
</footer>

<style>

</style>