---
import '../styles/header.scss'
// const platform = "github";
// const username = "withastro";
---

<div class="header">
    <div class="button-groups">
        <div class="button">博客</div>
    </div>
</div>