---
 import '../styles/global.css'
 import '../styles/introduce.scss'
---
<div class="introduce">
    <div class="introduce-header">
        <div class="introduce-header-image">
            <img src="/assets/images/avatar.jpg" alt="大Ear图图" />
        </div>
        <div>大Ear图图</div>
    </div>
    <div class="introduce-content">
        <div>人生也就三万天，享受一天是一天。热爱生活和吃，喜欢登山、跑步、搏击。</div>
    </div>
    <div class="introduce-footer"></div>
</div>

